alias pac="sudo pacman"

alias cls="clear"
alias nv="nvim"
alias pc="pre-commit"
alias lg="lazygit"
alias mci="sudo make clean install"
alias sc="sc-im"
alias tr="trash-put"
alias fpush="git add . && git commit -am "feat" && git push -u origin main"
alias fm="frogmouth"
alias wifi="nmcli --ask con up"
alias oo="onlyoffice-desktopeditors"
alias cm="cmus"
alias pt="presenterm"

alias wget=wget --hsts-file="$XDG_DATA_HOME/wget-hsts"
alias adb='HOME="$XDG_DATA_HOME"/android adb'

func pomo ()
{
while sleep 900;
do
notify-send "time ends";
spd-say "time ends";
sleep 300;
notify-send "rest ends";
spd-say "rest ends";
done
}

alias bwm="vi .config/bspwm/bspwmrc"
alias kwm="vi .config/sxhkd/sxhkdrc"

alias adb='HOME=$ANDROID_HOME adb'
alias cam='ffplay -f video4linux2 -framerate 30 -video_size hd720 /dev/video0'

func cam_rec ()
{
	mkdir -p vds/sc
	ffmpeg \
	-f video4linux2 -input_format mjpeg -i /dev/video0 -framerate 60 -video_size fullhd1080 \
	 vds/sc/${1}.mp4
}

func rec ()
{
	mkdir -p vds/sc
	ffmpeg \
	-video_size 1920x1080 -framerate 25 -f x11grab -i :0.0 \
	-f pulse -ac 2 -i default \
	vds/sc/${1}.mp4
}
